
    <link rel="stylesheet" href="../css/Navigation.css">


    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">STUDCOM</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="../jsp/willko.jsp">HOME</a></li>                    
                    <li><a href="#">SERVICE</a></li>
                    <li><a href="#">DOCUMENTATION</a></li>
                    <li><a href="../jsp/kontakt.jsp">CONTACT</a></li>
                    <li><a href="#">LOGOUT</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>
 
        </div> 
        </div> 
       
        
                

               
  
  
  